# Jupyter Notebook checkpoints
.ipynb_checkpoints/


# Common microscopy / array file formats
*.nii
*.nii.gz
*.h5
*.hdf5
*.h5py
*.npy
*.npz
*.tiff
*.tif

# Optional: system/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
