/__pycache__

/.ipynb_checkpoints

/.micromamba

/render_output/*

/sim_output/*

/sim_output_main_lowff/*

/sim_output_old_bigmain/*

/logic/__pycache__/*

/gt_data_ex/*
!/gt_data_ex/.gitkeep

/example_images
